/* Button Reset Styles */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* End of Button Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Utility Style */
.show {
  outline: red solid 1px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  padding: 0;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #d4d4d2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: #d4d4d2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}
footer {
  flex: 1;
  background-color: #f0c808;
  border-top: 4px solid #505050;
}

.calculator {
  background-color: #1c1c1c;
  width: 350px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 2%;
}

.input {
  background-color: #505050;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.display {
  background-color: #d4d4d2;
  min-height: 70px;
  margin: 15px;
  border-radius: 10px;
  font-size: 55px;
  text-align: right;
  padding-right: 5px;
}
.keypadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin-bottom: 15px; */
}
.keypad1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  height: 100%;
  width: 90%;
}
.keypadRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.operatorBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  padding: 0;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fe9500;
}

.number-btn {
  font-size: 24px;
  font-weight: 600;
}

.btn-image {
  width: 45%;
  height: 45%;
}
